div {
    background: #eee;
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
}
button{
    padding-left: 10px;
    padding: 4px 16px 4px 16px;
}
body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  a {
    color: var(--bs-blue);
  }